---
title: About
description: We've built an amazing team of engineers, marketers, designers and sales people.
image: https://source.unsplash.com/BcoGknSqlDc/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Our Story</h1>
			<p class="subtext editable">We have an extremely talented team whose sole goal is to empower millions with digital payments.</p>
		</div>
	</div>
</section>
<section class="pad">
	<div class="container">
		<p>ZatpatPay, is a FinTech Startup based in Pune, Maharashtra. We started in Dec 2016 when many local banks, merchants and people conveyed their difficulties to the founders they were facing in money transfer.</p>
		<p>The local banks mainly co-operatives, credit unions lacked the technology they needed to facilitate the digital money transfer.
			Even some of the national banks are ill equipped to cater the demanding customer base.</p>
			<p>Hence born the "ZatpatPay", to solve the digital payment problem every common ctizen faced.</p>
		<p>The region where we operate is India's one of the most leading Industrial and Agricultural region.</p>
		<p>State of Maharashtra, is India's top performing state with $400 Billion economy and 11+% growth rate.
			Maharashtra population is around 110 Million people of which 30-40 million people reside within Mumbai-Pune-Nasik Triangle.</p>
		<p>The neighbouring states such as Gujarat, Karnataka, Telangana, Andhra Pradesh, Goa contribute substantially to the national economy and forms major region for ZatpatPay's customer base. </p>
		
	</div>	
</section>
<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
