---
title: Home
description: Making payments fast, easy and transparent.
image: https://source.unsplash.com/MqJX_8EaStM/2000x1322?a=.png
bottom_image: https://source.unsplash.com/S_VbdMTsdiA/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h2 class="editable">Fast, Easy, Transparent.</h2>
			<p class="subtext editable">We make payments faster for the merchants, easier for the customers, transparent and inexpensive for all.</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Smart POS</h2>
				<p class="editable">Smart POS empowers merchants to make more daily transactions than their existing devices. With our handy, sturdy and stable devices merchants are able to make three times more transactions than their previous devices.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/logo/pos.png" alt="ZatpatPay POS" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Smart App</h2>
				<p class="editable">Our Smart App brings transparancy in charges merchant and customers pay. You can see all the numbers that you need to see. Our customers can also transfer money to other bank accounts.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/app.png" alt="ZatpatPay App" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Smart Card</h2>
				<p class="editable">ZatpatPay realizes how important time, trust and transparancy is. We dream to empower millions of our customers with cards so that they can pay quicker and confidently. Customers can track their expenses using our app.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/card.png" alt="ZatpatPay Card" />
			</div>
		</div>
	</section>
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Smart Banking</h2>
				<p class="editable">ZatpatPay works closely with local banks to empower their customers with Smart POS, Smart App and Smart Cards. We help local banks realize their potential and help them achieve it.</p>
			</div>
			<div class="image">
				<!--<img class="editable" src="http://placehold.it/650x1300" alt="ZatpatPay Card" />-->
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Join the journey today</h2>
				<p class="subtext editable">Let's walk on the path together, towards Digital India.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
